Repository johnnymillergh/python_boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff-format, mypy, pytest, pytest-cov

poetry-check:
  name: Poetry Check
  stages:
  - commit
  language: python
  entry: poetry check
  pass_filenames: false

ruff-format:
  name: Ruff Check and Fix
  stages:
  - commit
  language: system
  entry: poetry run ruff check .
  args:
  - --fix

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pytest:
  name: Pytest Unit Tests
  stages:
  - commit
  language: system
  entry: env LOG_LEVEL=DEBUG poetry run pytest --cov --cov-report html --html=./build/.pytest_report/report.html --self-contained-html --log-cli-level=DEBUG -n auto --benchmark-disable
  pass_filenames: false

pytest-cov:
  name: Pytest with Coverage
  stages:
  - push
  language: system
  entry: env LOG_LEVEL=ERROR poetry run pytest --cov --cov-fail-under=90 --capture=no --log-cli-level=ERROR -n auto
  pass_filenames: false

refactor(Poetry): pyproject.toml path fallback for PyInstaller scenario
  src/python_boilerplate/configuration/application_configuration.py
Due: ruff-format, mypy, pytest, pytest-cov

docs(Poetry): remove Pipenv in README.md
  README.md
Due: none

build(Poetry): GitHub Action building with Poetry
  .github/actions/project-environment-setup/action.yml
  .github/workflows/main.yml
Due: none

build(Poetry): remove unused GitHub action `twitter-together.yml`
  .github/workflows/python-ci-with-poetry.yml
  .github/workflows/twitter-together.yml
  tweets/2023-03/4.0.1-release.tweet
  tweets/README.md
Due: none

build(Poetry): install Poetry before setup Python
  .github/actions/project-environment-setup/action.yml
  .github/workflows/publish-docker.yml
Due: none

build(Poetry): add required property: shell
  .github/actions/project-environment-setup/action.yml
Due: none

build(Poetry): display pyproject.toml
  .github/workflows/python-ci-with-poetry.yml
Due: none

build(Poetry): setup.cfg -> pyproject.toml
  .github/workflows/python-ci-with-poetry.yml
Due: none

build(Poetry): correct file path for pyinstaller command
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: upgrade Python to 3.13.1
  poetry.lock
  pyproject.toml
Due: poetry-check

docs: update README.md for Python version
  README.md
Due: none

build: update trigger condition for Python CI
  .github/workflows/python-ci-with-poetry.yml
Due: none

build: update python-version: "3.13.1"
  .github/actions/project-environment-setup/action.yml
  Dockerfile
Due: none

build: pull_request event's activity type is opened, synchronize, or reopened
  .github/workflows/python-ci-with-poetry.yml
Due: none

refactor: correct type for Header
  src/python_boilerplate/demo/pgp_usage.py
  src/python_boilerplate/message/email.py
  tests/test_python_boilerplate/demo/test_pgp_usage.py
Due: ruff-format, mypy, pytest, pytest-cov

build: build remove pgpy
  poetry.lock
  pyproject.toml
Due: poetry-check

docs: update CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

Path conditions:
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
